.vscode
venv

build/**

EPANET/EPANET_2.2/**
EPANET/api/**
!EPANET/api/.gitkeep
!EPANET/files/P.txt
!EPANET/files/Q.txt

*.docx
**/*.docx

WSO_matlab

__pycache__
**/__pycache__

epanet/files/*_temp*

*.csv
*.log
*.txt
*.bin

epanet/files/worker*

output/**
!output/.gitkeep
elixir/deps/*
elixir/_build/*
compare/*
elixir/deps/*
elixir/_build/*
tmp/*

